/* Estilos para el contenedor principal */
.container_completo {
  display: flex;
  flex-wrap: wrap;
  /* Permite que los elementos se envuelvan en filas en pantallas pequeñas */
  justify-content: space-between;
  /* Espacio uniformemente los elementos */
}

.container_dash {
  flex: 1;
  max-width: 10%;
  /* Ajusta el ancho máximo según tus necesidades */
}

.container_page {
  flex: 2;
  max-width: 90%;
  /* Ajusta el ancho máximo según tus necesidades */
}